.no4 .p5 em{
	display: block;
}
.p1,.p2,.p3{
	font-size: 1.2rem;
}
.p4{
	font-size: 1rem;
}
.p5{
	position: absolute;
	top: 150px;
	left: 50%;
}
.p5 em{
	margin-top: 20px;
}
.p1{
	position: absolute;
	top: 150px;
	left: 100px;
}
.p2{
	position: absolute;
	top: 230px;
	left: 140px;
}
.p3{
	position: absolute;
	top: 310px;
	left: 110px;
}
.p4{
	position: absolute;
	top: 390px;
	left: 150px;
}